*.iml

*.tar.gz
out/
lib-audio-utils/build/

.idea/

android/.gradle/
android/.idea
android/build
android/app/build
android/app/app.iml
android/lib-audio-utils/build
android/lib-audio-utils/libs
android/lib-audio-utils/audio-utils-android-lib
android/lib-audio-utils/src/main/obj
android/lib-audio-utils/src/main/jni/effect-android-lib

xmly-audio-utils.*
ios-dev.*
*.o
*.d
*.a
android/
ffmpeg-3.4.7/build/
ffmpeg-3.4.7/ffbuild/
ffmpeg-3.4.7/.version
ffmpeg-3.4.7/config.h
ffmpeg-3.4.7/doc/config.texi
ffmpeg-3.4.7/doc/examples/pc-uninstalled/
ffmpeg-3.4.7/libavcodec/bsf_list.c
ffmpeg-3.4.7/libavcodec/libavcodec.pc
ffmpeg-3.4.7/libavcodec/libavcodec.version
ffmpeg-3.4.7/libavfilter/libavfilter.pc
ffmpeg-3.4.7/libavfilter/libavfilter.version
ffmpeg-3.4.7/libavformat/libavformat.pc
ffmpeg-3.4.7/libavformat/libavformat.version
ffmpeg-3.4.7/libavformat/protocol_list.c
ffmpeg-3.4.7/libavutil/avconfig.h
ffmpeg-3.4.7/libavutil/ffversion.h
ffmpeg-3.4.7/libavutil/libavutil.pc
ffmpeg-3.4.7/libavutil/libavutil.version
ffmpeg-3.4.7/libswresample/libswresample.pc
ffmpeg-3.4.7/libswresample/libswresample.version
out/

lame-3.100/*.o
lame-3.100/*.a
lame-3.100/*.lo
lame-3.100/build/*
lame-3.100/libmp3lame/*.lo
lame-3.100/libmp3lame/*.la
lame-3.100/*/Makefile
lame-3.100/Makefile
lame-3.100/*/*/Makefile
lame-3.100/*/*/*/Makefile
lame-3.100/mpglib/*.lo
lame-3.100/a.out
lame-3.100/a.out.js
lame-3.100/a.out.wasm
lame-3.100/config.h
lame-3.100/config.log
lame-3.100/config.status
lame-3.100/frontend/.deps/
lame-3.100/libmp3lame/.deps/
lame-3.100/libmp3lame/.libs/
lame-3.100/libmp3lame/vector/.deps/
lame-3.100/libtool
lame-3.100/misc/.deps/
lame-3.100/mpglib/.deps/
lame-3.100/mpglib/.libs/
lame-3.100/mpglib/libmpgdecoder.la
lame-3.100/stamp-h1
