*.iml

*.tar.gz
out/
lib-audio-utils/build/

.idea/

android/.gradle/
android/.idea
android/build
android/app/build
android/app/app.iml
android/lib-audio-utils/build
android/lib-audio-utils/libs
android/lib-audio-utils/audio-utils-android-lib
android/lib-audio-utils/src/main/obj
android/lib-audio-utils/src/main/jni/effect-android-lib

xmly-audio-utils.*
ios-dev.*
*.o
*.d
*.a
android/
ffmpeg-3.4.7/build/
ffmpeg-3.4.7/ffbuild/
ffmpeg-3.4.7/.version
ffmpeg-3.4.7/config.h
ffmpeg-3.4.7/doc/config.texi
ffmpeg-3.4.7/doc/examples/pc-uninstalled/
ffmpeg-3.4.7/libavcodec/bsf_list.c
ffmpeg-3.4.7/libavcodec/libavcodec.pc
ffmpeg-3.4.7/libavcodec/libavcodec.version
ffmpeg-3.4.7/libavfilter/libavfilter.pc
ffmpeg-3.4.7/libavfilter/libavfilter.version
ffmpeg-3.4.7/libavformat/libavformat.pc
ffmpeg-3.4.7/libavformat/libavformat.version
ffmpeg-3.4.7/libavformat/protocol_list.c
ffmpeg-3.4.7/libavutil/avconfig.h
ffmpeg-3.4.7/libavutil/ffversion.h
ffmpeg-3.4.7/libavutil/libavutil.pc
ffmpeg-3.4.7/libavutil/libavutil.version
ffmpeg-3.4.7/libswresample/libswresample.pc
ffmpeg-3.4.7/libswresample/libswresample.version
out/
